<div id="{{ section.settings.scrollID }}" class="app-details-section tailwind" {{ block.shopify_attributes }}>
    <!-- App Details -->
    <div class="max-w-6xl px-4 pt-24 pb-8 mx-auto md:pb-16 sm:px-6 lg:px-8 lg:py-14">
      <!-- Title -->
      <div class="max-w-lg mx-auto text-center lg:mb-14 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <h2 class="text-3xl font-bold text-gray-800 lg:text-4xl dark:text-gray-200">{{ section.settings.app_details_title }} <span class="lg:hidden"></br></span>{{ section.settings.app_details_title_after_break }}</h2>
        <div class="flex justify-center w-full">
          <p class="mt-3 text-gray-800 dark:text-gray-200 max-w-[40rem] lg:max-w-none">
            {{ section.settings.app_details_description }}
          </p>
        </div>

      </div>
      <!-- End Title -->

      <!-- Grid: Highlight Icons -->
      <div class="hidden lg:!grid max-w-3xl grid-cols-12 gap-6 mx-auto lg:gap-8 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <!-- Icon Block -->
        <div class="col-span-6 text-center sm:col-span-4">
          <svg
            class="h-auto mx-auto text-primary w-7 md:w-9 dark:text-gray-200"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
          <div class="mt-2 sm:mt-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">iPhone Ready</h3>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-span-6 text-center sm:col-span-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-auto mx-auto text-primary w-7 md:w-9 dark:text-gray-200"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
          </svg>

          <div class="mt-2 sm:mt-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Smart notifications</h3>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-span-6 col-start-4 text-center sm:col-span-4">
          <svg
            class="h-auto mx-auto text-primary w-7 md:w-9 dark:text-gray-200"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
          <div class="mt-2 sm:mt-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Expert Support</h3>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Grid -->

      <!-- Grid: Images -->
      <div class="-ml-12 flex flex-col justify-center lg:!grid items-center grid-cols-12 lg:mt-20 gap-x-2 sm:gap-x-6 lg:gap-x-8 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="col-span-4 lg:p-8 md:col-span-3 md:col-start-3">
          {%- if section.settings.app_details_image_1 != blank -%}
            {%- assign widths = '800, 800, 800, 800, 800, 800' -%}
            {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
            {{
              section.settings.app_details_image_1
              | image_url: width: 907, height: 1738
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: widths,
                alt: section.settings.app_details_image_1_alt,
                class: 'rounded-xl hidden lg:!block'
              | escape
            }}
          {%- else -%}
          <img
            class="rounded-xl hidden lg:!block"
            src="{{ 'app_details_1_placeholder.png' | asset_url }}"
            alt="Placeholder Image"
            loading="lazy"
            width="907"
            height="1738"
          >
          {%- endif -%}
        </div>
        <!-- End Col -->

        <div class="col-span-4 pr-8 md:col-span-3 ">
          {%- if section.settings.app_details_image_2 != blank -%}
            {%- assign widths = '800, 800, 800, 800, 800, 800' -%}
            {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
            {{
              section.settings.app_details_image_2
              | image_url: width: 907, height: 1738
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: widths,
                alt: section.settings.app_details_image_2_alt,
                class: 'rounded-xl hidden lg:!block'
              | escape
            }}
          {%- else -%}
          <img
            class="rounded-xl hidden lg:!block"
            src="{{ 'app_details_2_placeholder.png' | asset_url }}"
            alt="Placeholder Image"
            loading="lazy"
            width="1512"
            height="2896"
          >
          {%- endif -%}
        </div>
        <!-- End Col -->

        <div class="max-w-sm col-span-4 md:col-span-3">
          {%- if section.settings.app_details_image_3 != blank -%}
            {%- assign widths = '800, 800, 800, 800, 800, 800' -%}
            {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
            {{
              section.settings.app_details_image_3
              | image_url: width: 1200, height: 800
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: widths,
                alt: section.settings.app_details_image_3_alt,
                class: 'rounded-xl hidden lg:!block'
              | escape
            }}
          {%- else -%}
          <img
            class="rounded-xl hidden lg:!block"
            src="{{ 'app_details_3_placeholder.png' | asset_url }}"
            alt="Placeholder Image"
            loading="lazy"
            width="1238"
            height="1215"
          >
          {%- endif -%}
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End App Details -->
</div>
{% schema %}
{
  "name": "App Details",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "app-details"
    },
    {
      "id": "vimeoID",
      "type": "text",
      "label": "Vimeo Video ID",
      "default": "830096329"
    },
    {
      "id": "app_details_category",
      "type": "text",
      "label": "Category",
      "default": "Section"
    },
    {
      "id": "app_details_title",
      "type": "text",
      "label": "Title",
      "default": "The second part,"
    },
    {
      "id": "app_details_title_after_break",
      "type": "text",
      "label": "Title Appendix breakline mobile",
      "default": "will breakline line on mobile screens."
    },
    {
      "id": "app_details_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsums dolor sit amet, consetetur sadipscing elitr, sed."
    },
    {
      "id": "app_details_icon_description_1",
      "type": "text",
      "label": "Icon Text 1",
      "default": "Iphone Ready"
    },
    {
      "id": "app_details_icon_description_2",
      "type": "text",
      "label": "Icon Text 2",
      "default": "Smart Notifications"
    },
    {
      "id": "app_details_icon_description_3",
      "type": "text",
      "label": "Icon Text 3",
      "default": "Expert Support"
    },
    {
      "id": "app_details_image_1",
      "type": "image_picker",
      "label": "Image 1"
    },
    {
      "id": "app_details_image_2",
      "type": "image_picker",
      "label": "Image 2"
    },
    {
      "id": "app_details_image_3",
      "type": "image_picker",
      "label": "Image 3"
    }
  ],
  "presets": [
    {
      "name": "App Details",
      "category": "Custom"
    }
  ]
}
{% endschema %}
