<div id="{{ section.settings.scrollID }}" class="-mb-24 app-details-section tailwind" {{ block.shopify_attributes }}>
    <!-- App Details -->
    <div class="max-w-6xl px-4 pt-24 pb-8 mx-auto mt-16 md:pb-16 sm:px-6 lg:px-8 lg:py-8">
      <!-- Title -->
      <div class="max-w-lg mx-auto text-center lg:mb-14 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="text-base font-medium leading-7 text-accent font-heading">Our App</div>
        <h2 class="text-3xl font-bold text-gray-800 lg:text-4xl dark:text-gray-200">{{ section.settings.app_details_title }} <span class="lg:hidden"></br></span>{{ section.settings.app_details_title_after_break }}</h2>
        <div class="flex justify-center w-full">
          <p class="mt-3 text-gray-800 dark:text-gray-200 max-w-[40rem] lg:max-w-none">
            {{ section.settings.app_details_description }}
          </p>
        </div>

      </div>
      <!-- End Title -->


    </div>
    <!-- End App Details -->
</div>
{% schema %}
{
  "name": "App Details",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "app-details"
    },
    {
      "id": "vimeoID",
      "type": "text",
      "label": "Vimeo Video ID",
      "default": "830096329"
    },
    {
      "id": "app_details_category",
      "type": "text",
      "label": "Category",
      "default": "Section"
    },
    {
      "id": "app_details_title",
      "type": "text",
      "label": "Title",
      "default": "The second part,"
    },
    {
      "id": "app_details_title_after_break",
      "type": "text",
      "label": "Title Appendix breakline mobile",
      "default": "will breakline line on mobile screens."
    },
    {
      "id": "app_details_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsums dolor sit amet, consetetur sadipscing elitr, sed."
    },
    {
      "id": "app_details_icon_description_1",
      "type": "text",
      "label": "Icon Text 1",
      "default": "Iphone Ready"
    },
    {
      "id": "app_details_icon_description_2",
      "type": "text",
      "label": "Icon Text 2",
      "default": "Smart Notifications"
    },
    {
      "id": "app_details_icon_description_3",
      "type": "text",
      "label": "Icon Text 3",
      "default": "Expert Support"
    },
    {
      "id": "app_details_image_1",
      "type": "image_picker",
      "label": "Image 1"
    },
    {
      "id": "app_details_image_2",
      "type": "image_picker",
      "label": "Image 2"
    },
    {
      "id": "app_details_image_3",
      "type": "image_picker",
      "label": "Image 3"
    }
  ],
  "presets": [
    {
      "name": "App Details",
      "category": "Custom"
    }
  ]
}
{% endschema %}
