<div
  id="{{ section.settings.scrollID }}"
  data-section-id="{{ section.id }}"
  data-section-type="cta-basic"
  class="cta-basic tailwind"
  {{ block.shopify_attributes }}
>
  <!-- CTA: Start the Test -->
  <div class="bg-white lg:py-24" id="{{ section.settings.scrollID }}">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="relative px-6 py-24 overflow-hidden text-center bg-blue-900 shadow-2xl isolate sm:rounded-3xl sm:px-16 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <h2 class="max-w-2xl mx-auto text-3xl font-bold tracking-tight text-white sm:text-4xl">
          {{ section.settings.cta_title }}
        </h2>
        <p class="max-w-2xl mx-auto mt-6 text-lg leading-8 text-gray-300">
          {{ section.settings.cta_description }}
        </p>
        <div class="flex items-center justify-center mt-10 gap-x-6">
          <a
            id="cta_button__start_the_test__meta__conversion_event_1"
            class="cursor-pointer rounded-3xl bg-white hover:scale-105 hover:bg-gradient-to-l transition-all duration-400 px-6 py-3.5 text-base font-medium text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >
            {{ section.settings.cta_button }}
          </a>
        </div>
        <svg
          viewBox="0 0 1024 1024"
          class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
          aria-hidden="true"
        >
          <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
              <stop stop-color="#7775D6" />
              <stop offset="1" stop-color="#00b9e3" />
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
  <!-- End CTA -->
</div>

{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    // select dynamic section id
    let section = document.querySelector('[data-section-type="cta-basic"]');
    let sectionId = section.dataset.sectionId;

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const utm_source = urlParams.get('utm_source') || 'none';
    const utm_medium = urlParams.get('utm_medium') || 'none';
    const utm_campaign = urlParams.get('utm_campaign') || 'none';
    const utm_term = urlParams.get('utm_term') || 'none';
    const utm_content = urlParams.get('utm_content') || 'none';

    // get element by dynamic section id
    const ctaLink = document.getElementById('cta_button__start_the_test__meta__conversion_event_1');

    // append utm params to link
    if (queryString != '') {
      ctaLink.href =
        'pages/sensa-check?' +
        '&utm_source=' +
        utm_source +
        '&utm_medium=' +
        utm_medium +
        '&utm_campaign=' +
        utm_campaign +
        '&utm_term=' +
        utm_term +
        '&utm_content=' +
        utm_content;
    } else {
      ctaLink.href = 'pages/sensa-check';
    }
  });
{% endjavascript %}

{% schema %}
{
  "name": "Call To Action",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "cta"
    },
    {
      "id": "cta_title",
      "type": "text",
      "label": "Title",
      "default": "Enter your CTA message"
    },
    {
      "id": "cta_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
    },
    {
      "id": "cta_button",
      "type": "text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "id": "cta_target",
      "type": "page",
      "label": "Page Link"
    }
  ],
  "presets": [
    {
      "name": "CTA Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
