<div class="early-access--section tailwind" {{ block.shopify_attributes }}>

    <!-- Early Access -->
    <div class="relative flex flex-col justify-center max-w-6xl mx-auto mb-24 lg:flex-row bg-gradient-to-r from-white via-white to-white">

        <div class="flex flex-col w-full lg:grid lg:grid-cols-12">
            <div class="px-8 pt-12 pb-4 md:pb-16 lg:py-12 lg:col-span-8">
                <!-- About the program -->
                <div class="w-full flex flex-col items-start justify-start space-y-3 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <!-- Page Title -->
                    <h1 class="block text-3xl text-copy sm:text-4xl lg:text-5xl lg:leading-tight dark:text-white lg:min-w-[60rem]">
                        Join our </br> <span class="text-primary">Early Access program!</span>
                    </h1>
                    <!-- Description -->
                    <div class="lg:min-w-[50rem] text-base font-light text-copy lg:leading-tigh">
                            <p>Thank you for expressing interest in our sensor! We regret to inform you that the sensor is not yet available to the public. Currently, we are preparing for its market launch and conducting a clinical study to obtain official clearance for all EU markets. The estimated launch date is late 2023.</p>
                            </br>
                            <p>To ensure you don't miss out on any updates and to provide you with the opportunity to be among the first who get access to the sensor, we are excited to offer you early access through our Early Access Program. </p>
                        </br>
                            <p class="text-accent">By joining, you will enjoy the following benefits:</p>

                        <ul class="mt-8 space-y-3 text-base">
                                <li class="flex space-x-3">
                                    <svg class="flex-shrink-0 w-6 h-6 text-highlight" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                                    <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
                                    </svg>
                                    <span class="text-gray-800 dark:text-gray-400">
                                    Receive information about the official product launch before it becomes available to everyone else.
                                    </span>
                                </li>

                                <li class="flex space-x-3">
                                    <svg class="flex-shrink-0 w-6 h-6 text-highlight" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                                    <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
                                    </svg>
                                    <span class="text-gray-800 dark:text-gray-400">
                                    Get a free reservationfor a 30-day period, guaranteeing that you will <strong>be among the first </strong> to receive our new hardware sensor as soon as you decide to purchase one.
                                    </span>
                                </li>

                                <li class="flex space-x-3">
                                    <svg class="flex-shrink-0 w-6 h-6 text-highlight" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                                    <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
                                    </svg>
                                    <span class="text-gray-800 dark:text-gray-400">
                                    Connect directly with our development team to address any specific details or questions you may have, ensuring you receive firsthand answers.
                                    </span>
                                </li>

                                <li class="flex space-x-3">
                                    <svg class="flex-shrink-0 w-6 h-6 text-highlight" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                                    <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
                                    </svg>
                                    <span class="text-gray-800 dark:text-gray-400">
                                    Stay informed about the latest milestones and development progress of our hardware.
                                    </span>
                                </li>
                            </ul>
                            <p class="mt-8">To join our program, simply provide us with your email address so that we can keep you informed. We sincerely look forward to welcoming you to our Early Access Program. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-8 mt-12 mb-24 lg:mt-16 lg:py-12 lg:mb-0 lg:col-span-4">
                <!-- Form -->
                <div class="flex flex-col bg-gradient-to-r rounded-xl from-gray-100 via-gray-100 to-gray-100 lg:max-w-[90rem] xl:w-3/5 rounded-b-xl {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <img
                        class="rounded-t-xl"
                        src="{{ 'earlyaccess.jpg' | asset_url }}"
                        alt="Get early access image"
                        loading="lazy"
                        width="auto"
                        height="auto"
                    >
                    <div class="px-8 pt-8 pb-8 ">

                        <label class="py-2 mt-2 mb-2 text-base font-semibold leading-4 text-copy dark:text-gray-50">Please enter your email address</label>

                        {% form 'customer', id: 'EarlyAccess' %}

                            <!-- Email Name -->
                            <div class="flex-col mt-2">
                                <input
                                    class="block w-full px-4 py-3 text-sm border-gray-200 rounded-md focus:border-highlight focus:ring-highlight dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                                    type="email"
                                    name="contact[email]"
                                    aria-required="true"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email"
                                    {% if form.errors %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-describedby="EarlyAccess-error"
                                    {% endif %}
                                    placeholder="{{ 'newsletter.label' | t }}"
                                    required
                                >
                                {%- if form.errors -%}
                                    <small>
                                        {{- form.errors.translated_fields.email | capitalize }}
                                        {{ form.errors.messages.email -}}
                                    </small>
                                {%- endif -%}
                            </div>

                            <!-- Newsletter Consent -->
                            <div class="grid pt-3 ml-1 space-y-3">
                                <div class="relative flex items-start ">
                                    <div class="flex flex-col items-center justify-center hidden h-5">
                                        <input id="hs-checkbox-archive" name="hs-checkbox-archive" type="checkbox" checked=true class="w-4 h-4 border-gray-200 rounded text-highlight focus:ring-highlight dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-highlight dark:checked:border-highlight dark:focus:ring-offset-gray-800" aria-describedby="hs-checkbox-archive-description">
                                    </div>
                                    <label for="hs-checkbox-delete">
                                        <span id="hs-checkbox-delete-description" class="block text-sm text-copy/80 dark:text-gray-500">By submitting your email you agree to receive news and promotional material from Novioscan about the Sensor and allow to Novioscan to process my personal data for these purposes and as described in the <a href="{{ shop.privacy_policy.url }}" class="font-semibold">{{- shop.privacy_policy.title -}}</a>.</span>
                                    </label>
                                </div>
                            </div>

                            <div class ="flex justify-center w-full mt-8">
                                <button id="cta_button__join_early_access" type="submit" value="Join early access" class="cursor-pointer inline-flex items-center justify-center gap-x-2 rounded-3xl bg-gradient-to-r from-primary via-accent to-orange-600 hover:bg-gradient-to-l hover:scale-105 transition-all px-6 py-3.5 text-base font-medium  text-white shadow-lg focus:outline-none">
                                    <div>
                                        <p class="text-base leading-4">Join Early Access Program</p>
                                    </div>
                                </button>
                            </div>

                            <div class ="flex justify-center w-full p-4">
                                <a
                                        href="/"
                                        class="text-sm font-semibold leading-6 text-gray-900 transition-all hover:text-highlight hover:scale-105 duration-400"
                                    >
                                        Return to homepage
                                        <span aria-hidden="true" class="ml-1">→</span>
                                </a>
                            </div>



                            {% if form.posted_successfully? %}
                                <script>
                                document.addEventListener(
                                    'DOMContentLoaded',
                                    function () {
                                        window.location.replace("/pages/confirm-earlyaccess-signup");
                                    },
                                    false
                                );
                                </script>
                            {% endif %}
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>





    <!-- End -->
  </div>
</div>

{% schema %}
{
  "name": "Early Access",
  "settings": [
    {
      "id": "early_access_title",
      "type": "text",
      "label": "Title",
      "default": "Early Access"
    }
  ],
  "presets": [
    {
      "name": "early_access",
      "category": "Custom"
    }
  ]
}
{% endschema %}
