<div class="features-with-image section tailwind">
  <!-- Features -->
  <div id="{{ section.settings.scrollID }}" class="max-w-6xl px-4 mx-auto mt-12 sm:px-6 lg:px-8 lg:py-24">
    <!-- Grid -->
    <div class="flex flex-col-reverse items-center justify-center space-x-4 lg:grid lg:grid-cols-2 lg:items-center lg:gap-12 xl:gap-32">
      <div class="mt-5 sm:mt-10 lg:mt-0  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="max-w-md space-y-6 sm:space-y-8">
          <div class="space-y-2 text-center md:text-left md:space-y-2">
            <!-- Category -->
            <div class="text-base font-medium leading-7 text-accent font-heading">
              {{ section.settings.feature_category }}
            </div>
            <!-- Title -->
            <h2 class="text-3xl font-bold text-gray-800 lg:text-4xl dark:text-gray-200 hs-scrollspy-active:text-blue-600">
              {{ section.settings.feature_title }}
            </h2>
            <!-- Description -->
            <p class="text-gray-500">{{ section.settings.feature_description }}</p>
          </div>
          <!-- End Title -->

          <!-- List -->
          <ul role="list" class="space-y-2 sm:space-y-4">
            <li class="flex space-x-3">
              <!-- Solid Check -->
              <svg
                class="flex-shrink-0 w-6 h-6 text-highlight"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
              </svg>
              <!-- End Solid Check -->

              <span class="text-sm text-gray-500 sm:text-base">
                {{ section.settings.feature_item_1 }}
              </span>
            </li>

            <li class="flex space-x-3">
              <!-- Solid Check -->
              <svg
                class="flex-shrink-0 w-6 h-6 text-highlight"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
              </svg>
              <!-- End Solid Check -->

              <span class="text-sm text-gray-500 sm:text-base">
                {{ section.settings.feature_item_2 }}
              </span>
            </li>

            <li class="flex space-x-3">
              <!-- Solid Check -->
              <svg
                class="flex-shrink-0 w-6 h-6 text-highlight"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor" fill-opacity="0.1"/>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor"/>
              </svg>
              <!-- End Solid Check -->

              <span class="text-sm text-gray-500 sm:text-base">
                {{ section.settings.feature_item_3 }}
              </span>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
      <!-- End Col -->

      <div class="px-4 pt-12 animate-fade-right animate-ease-out animate-delay-100 ">
        <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if section.settings.feature_image != blank -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
            {{
              section.settings.feature_image
              | image_url: width: 907, height: 1738
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: widths,
                alt: section.settings.feature_image_alt,
                class: 'md:-ml-20 rounded-xl md:max-w-[40rem] lg:max-w-md mt-8 lg:mt-0'
              | escape
            }}
          {%- else -%}
            <img
              class="-ml-20 rounded-xl max-w-[40rem] lg:max-w-md mt-8 lg:mt-0"
              src="{{ 'feature_image_left_placeholder.png' | asset_url }}"
              alt="Placeholder Image"
              loading="lazy"
              width="656"
              height="496"
            >
          {%- endif -%}
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->
</div>
{% schema %}
{
  "name": "Features with Image",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "features"
    },
    {
      "id": "vimeoID",
      "type": "text",
      "label": "Vimeo Video ID",
      "default": "830096329"
    },
    {
      "id": "feature_category",
      "type": "text",
      "label": "Category",
      "default": "Section"
    },
    {
      "id": "feature_title",
      "type": "text",
      "label": "Title",
      "default": "This is my feature title."
    },
    {
      "id": "feature_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsums dolor sit amet, consetetur sadipscing elitr, sed diam non."
    },
    {
      "id": "feature_item_1",
      "type": "richtext",
      "label": "Feature Item 1 ",
      "default": "<p>Lorem ipsums dolor sit amet, consetetur sadipscing elitr, sed diam non.</p>"
    },
    {
      "id": "feature_item_2",
      "type": "richtext",
      "label": "Feature Item 2 ",
      "default": "<p>Lorem ipsums dolor sit amet, consetetur sadipscing elitr, sed diam non.</p>"
    },
    {
      "id": "feature_item_3",
      "type": "richtext",
      "label": "Feature Item 3",
      "default": "<p>Lorem ipsums dolor sit amet, consetetur sadipscing elitr, sed diam non.</p>"
    },
    {
      "id": "feature_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "feature_image_alt",
      "type": "text",
      "label": "Image Alt Text",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
    }
  ],
  "presets": [
    {
      "name": "Features with Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
