<div class="feature-image-right-section tailwind">
  <!-- Feature:Image Right -->
  <div class="mt-12 max-w-6xl px-4 py-10 mx-auto my-6 overflow-hidden sm:px-6 lg:px-8 lg:py-14 lg:my-0 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <!-- Grid -->
    <div class="flex flex-col items-center md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div class="">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="text-3xl font-bold text-gray-800 lg:text-4xl dark:text-gray-200">
              {{ section.settings.feature_image_right_title }}
            </h2>
            <p class="max-w-[40rem] text-gray-500">
              {{ section.settings.feature_image_right_description }}
            </p>
            <!-- CTA: OPEN MODAL -->
            <div class="pt-3">
              <button
                id="cta_button__feature__open_modal__{{ section.id }}"
                type="button"
                class="{{ section.settings.feature_image_right_cta_modal_status }} inline-flex cursor-pointer justify-center items-center gap-x-3.5 text-sm lg:text-base text-center border hover:border-gray-300 hover:scale-105 shadow-sm font-medium rounded-3xl focus:outline-none focus:ring-2 focus:ring-highlight focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:border-gray-800 dark:hover:border-gray-600 dark:shadow-slate-700/[.7] dark:text-white dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
                data-hs-overlay="#feature-image-right-modal-{{ section.id }}"
              >
                {{ section.settings.feature_image_right_cta_modal_label }}
              </button>
            </div>
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Col -->

      <div>
        {%- if section.settings.feature_image_right_image != blank -%}
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
          {{
            section.settings.feature_image_right_image
            | image_url: width: 907, height: 1738
            | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: widths,
              alt: section.settings.feature_image_right_image_alt,
              class: 'md:max-w-[40rem] lg:max-w-md mt-8 lg:mt-0 rounded-xl md:-mr-8'
            | escape
          }}
        {%- else -%}
          <img
            class="max-w-[40rem] lg:max-w-md mt-8 lg:mt-0 rounded-xl -mr-8k"
            src="{{ 'feature_image_right_placeholder.png' | asset_url }}"
            alt="Placeholder Image"
            loading="lazy"
            width="656"
            height="496"
          >
        {%- endif -%}
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Feature:Image Right -->

  <!-- Start: CTA Modal Dialog -->
  {%- for block in section.blocks -%}
    {%- if block.type == 'feature_image_right_modal' -%}
      <div
        id="feature-image-right-modal-{{ section.id }}"
        class="hs-overlay hidden w-full h-full fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto [--overlay-backdrop:static] bg-black/50 {{ section.settings.feature_image_right_cta_modal_status }}"
      >
        <div class="m-3 transition-all ease-out opacity-0 hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:max-w-lg sm:w-full sm:mx-auto">
          <div class="relative flex flex-col mt-20 bg-white shadow-lg rounded-xl dark:bg-gray-800">
            <div class="absolute top-2 right-2 z-[10]">
              <button
                type="button"
                class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md bg-white/[.1] text-white hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition-all text-sm dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
                data-hs-overlay="#feature-image-right-modal-{{ section.id }}"
              >
                <span class="sr-only">Close</span>
                <svg
                  class="w-3 h-3"
                  width="8"
                  height="8"
                  viewBox="0 0 8 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.258206 1.00652C0.351976 0.912791 0.479126 0.860131 0.611706 0.860131C0.744296 0.860131 0.871447 0.912791 0.965207 1.00652L3.61171 3.65302L6.25822 1.00652C6.30432 0.958771 6.35952 0.920671 6.42052 0.894471C6.48152 0.868271 6.54712 0.854471 6.61352 0.853901C6.67992 0.853321 6.74572 0.865971 6.80722 0.891111C6.86862 0.916251 6.92442 0.953381 6.97142 1.00032C7.01832 1.04727 7.05552 1.1031 7.08062 1.16454C7.10572 1.22599 7.11842 1.29183 7.11782 1.35822C7.11722 1.42461 7.10342 1.49022 7.07722 1.55122C7.05102 1.61222 7.01292 1.6674 6.96522 1.71352L4.31871 4.36002L6.96522 7.00648C7.05632 7.10078 7.10672 7.22708 7.10552 7.35818C7.10442 7.48928 7.05182 7.61468 6.95912 7.70738C6.86642 7.80018 6.74102 7.85268 6.60992 7.85388C6.47882 7.85498 6.35252 7.80458 6.25822 7.71348L3.61171 5.06702L0.965207 7.71348C0.870907 7.80458 0.744606 7.85498 0.613506 7.85388C0.482406 7.85268 0.357007 7.80018 0.264297 7.70738C0.171597 7.61468 0.119017 7.48928 0.117877 7.35818C0.116737 7.22708 0.167126 7.10078 0.258206 7.00648L2.90471 4.36002L0.258206 1.71352C0.164476 1.61976 0.111816 1.4926 0.111816 1.36002C0.111816 1.22744 0.164476 1.10028 0.258206 1.00652Z" fill="currentColor"/>
                </svg>
              </button>
            </div>

            <div class="aspect-w-16 aspect-h-8">
              {%- if block.settings.feature_image_right_modal_image != blank -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
                {{
                  block.settings.feature_image_right_modal_image
                  | image_url: width: 907, height: 1738
                  | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: widths,
                    alt: block.settings.feature_image_right_modal_image_alt,
                    class: 'object-cover w-full rounded-t-xl'
                  | escape
                }}
              {%- else -%}
                <img
                  class="object-cover w-full rounded-t-xl"
                  src="{{ 'modal-learn-more_placeholder.webp' | asset_url }}"
                  alt="Placeholder Image"
                  loading="lazy"
                  width="1125"
                  height="750"
                >
              {%- endif -%}
            </div>

            <div class="p-4 overflow-y-auto text-center sm:p-10">
              <h3 class="mb-2 text-2xl font-bold text-gray-800 dark:text-gray-200">
                {{ block.settings.feature_image_right_modal_title }}
              </h3>
              <div class="flex flex-col space-y-4 text-gray-500">
                <p>
                  {{ block.settings.feature_image_right_modal_description }}
                </p>
              </div>

              <div class="flex justify-center mt-6 gap-x-4">
                <button
                  type="button"
                  class="cursor-pointer inline-flex items-center justify-center gap-x-2 rounded-3xl bg-gradient-to-r from-primary via-accent to-orange-600 hover:bg-gradient-to-l hover:scale-105 transition-all py-2.5 px-4 text-base font-medium  text-white shadow-lg focus:outline-none"
                  data-hs-overlay="#feature-image-right-modal-{{ section.id }}"
                >
                  {{ block.settings.feature_image_right_modal_close_button_label }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}

  <!-- End: CTA Modal Dialog -->
</div>

{% schema %}
{
  "name": "Feature - Image Right",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "feature-1"
    },
    {
      "id": "feature_image_right_title",
      "type": "text",
      "label": "Title",
      "default": "Feature X."
    },
    {
      "id": "feature_image_right_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
    },
    {
      "id": "feature_image_right_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "feature_image_right_image_alt",
      "type": "text",
      "label": "Image Alt Text",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
    },
    {
      "id": "feature_image_right_cta_modal_status",
      "type": "radio",
      "label": "Show Button for Modal Dialog?",
      "options": [
        {
          "value": "show_cta_to_modal",
          "label": "Yes"
        },
        {
          "value": "hidden",
          "label": "No"
        }
      ]
    },
    {
      "id": "feature_image_right_cta_modal_label",
      "type": "text",
      "label": "Modal CTA Button",
      "default": "Learn more"
    }
  ],
  "presets": [
    {
      "name": "Feature - Image Right",
      "category": "Custom"
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "type": "feature_image_right_modal",
      "name": "Modal Dialog",
      "settings": [
        {
          "id": "feature_image_right_modal_image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "feature_image_right_modal_image_alt",
          "type": "text",
          "label": "Image Alt Text",
          "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
        },
        {
          "id": "feature_image_right_modal_title",
          "type": "text",
          "label": "Title",
          "default": "Learn more about this thing"
        },
        {
          "id": "feature_image_right_modal_description",
          "type": "text",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet, etetur ipsum dolor sit amet, conset ips consetetur ipsum dolor sit amet, conset ipsum dolor sit amet, conset sadipscing elitr, sed diam non. olor sit amet, conset sadipscing elitr, sed diam non olor sit amet, etetur ipsum dol."
        },
        {
          "id": "feature_image_right_modal_close_button_label",
          "type": "text",
          "label": "Title",
          "default": "Got it"
        }
      ]
    }
  ]
}
{% endschema %}
