<div class="feature-image-left-section tailwind">
  <!-- App Feature:Image Left -->
  <div class="mt-16 max-w-6xl px-4 py-10 mx-auto my-6 sm:px-6 lg:px-8 lg:py-14 lg:my-0 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <!-- Grid -->
    <div class="flex flex-col-reverse items-center md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div>
        {%- if section.settings.feature_image_left_image != blank -%}
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
          {{
            section.settings.feature_image_left_image
            | image_url: width: 907, height: 1738
            | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: widths,
              alt: section.settings.feature_image_left_image_alt,
              class: 'md:-ml-20 rounded-xl md:max-w-[40rem] lg:max-w-md mt-8 lg:mt-0'
            | escape
          }}
        {%- else -%}
          <img
            class="-ml-20 rounded-xl max-w-[40rem] lg:max-w-md mt-8 lg:mt-0"
            src="{{ 'feature_image_left_placeholder.png' | asset_url }}"
            alt="Placeholder Image"
            loading="lazy"
            width="656"
            height="496"
          >
        {%- endif -%}
      </div>
      <!-- End Col -->

      <div class="max-w-[40rem] lg:max-w-none">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="-mt-20 space-y-2 md:space-y-4">
            <h2 class="text-3xl font-bold text-gray-800 lg:text-4xl dark:text-gray-200">
              {{ section.settings.feature_image_left_title }}
            </h2>
            <p class="text-gray-500 max-w-[44rem]">
              {{ section.settings.feature_image_left_description }}
            </p>
            <!-- CTA: MODAL -->
            <button
              type="button"
              class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold text-white transition-all bg-blue-500 border border-transparent rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800"
              data-hs-overlay="#learn-more-modal"
            >
              Open modal
            </button>

            <button
              type="button"
              class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold text-white transition-all bg-blue-500 border border-transparent rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800"
              onclick="window.HSOverlay.open(document.getElementById('thank-you-modal'));"
            >
              Open Thankyou
            </button>
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>

  <!-- End  App Feature:Image Left ) -->
</div>

{% schema %}
{
  "name": "Feature - Image Left",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "feature-1"
    },
    {
      "id": "feature_image_left_title",
      "type": "text",
      "label": "Title",
      "default": "Feature X."
    },
    {
      "id": "feature_image_left_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
    },

    {
      "id": "feature_image_left_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "feature_image_left_image_alt",
      "type": "text",
      "label": "Image Alt Text",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non."
    }
  ],
  "presets": [
    {
      "name": "Feature - Image Left",
      "category": "Custom"
    }
  ]
}
{% endschema %}
