<div id="{{ section.settings.scrollID }}" class="pricing-section tailwind">
  <!-- Pricing -->
  <div class="max-w-6xl px-4 py-10 mx-auto sm:px-6 lg:px-8 lg:py-14 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <!-- Title -->
    <div class="max-w-2xl mx-auto mb-8 text-center lg:mb-14">
      <h2 class="text-3xl font-bold text-gray-800 lg:text-4xl">{{ section.settings.pricing_title }}</h2>
      <p class="mt-3 text-gray-800">
        {{ section.settings.pricing_description }}
        <span class="text-2xl font-bold text-headlines">{{ section.settings.pricing_comparison_amount }}</span>
        {{ section.settings.pricing_description_append }}
      </p>
    </div>
    <!-- End Title -->

    <div class="relative xl:w-10/12 xl:mx-auto">
      <!-- Grid -->
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-8">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'monthly_plan' %}
              <div {{ block.shopify_attributes }}>
                <!-- Card:Monthly -->
                <div class="relative z-10 p-4 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700">
                  <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                    {{ block.settings.monthly_plan_title }}
                  </h3>
                  <div class="text-sm text-gray-500">{{ block.settings.monthly_plan_description }}</div>

                  <div class="mt-5">
                    <span class="text-6xl font-bold text-headlines dark:text-gray-200">
                      {{- block.settings.monthly_plan_price -}}
                    </span>

                    <span class="ml-2 text-gray-500">{{ block.settings.monthly_plan_interval }}</span>
                  </div>

                  <div class="mt-1">
                    <span class="text-base font-semibold text-gray-500 dark:text-gray-200">
                      {{- block.settings.monthly_plan_deposit_amount -}}
                    </span>
                    <span class="text-gray-500 ml-31">{{ block.settings.monthly_plan_deposit }}</span>
                  </div>

                  <div class="grid py-4 mt-5 sm:grid-cols-1 gap-y-2 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                    <!-- List -->
                    <ul role="list" class="space-y-2 text-sm sm:text-base">
                      <li class="flex space-x-3">
                        <svg
                          class="flex-shrink-0 w-5 h-5 text-highlight"
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"></rect>
                          <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"></path>
                        </svg>
                        <span class="text-gray-800 dark:text-gray-200">
                          {{- block.settings.monthly_plan_feature_1 -}}
                        </span>
                      </li>

                      <li class="flex space-x-3">
                        <svg
                          class="flex-shrink-0 w-5 h-5 text-highlight"
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"></rect>
                          <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"></path>
                        </svg>
                        <span class="text-gray-800 dark:text-gray-200">
                          {{ block.settings.monthly_plan_feature_2 }}
                        </span>
                      </li>

                      <li class="flex space-x-3">
                        <svg
                          class="flex-shrink-0 w-5 h-5 text-highlight"
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"></rect>
                          <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"></path>
                        </svg>
                        <span class="text-gray-800 dark:text-gray-200">
                          {{ block.settings.monthly_plan_feature_3 }}
                        </span>
                      </li>
                    </ul>
                    <!-- End List -->

                    <!-- List -->

                    <!-- End List -->
                  </div>

                  <div class="flex flex-col py-4 mt-5 gap-x-4 first:pt-0 last:pb-0">
                    <div class="flex justify-center">
                      <button
                        type="button"
                        class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-medium text-gray-700 align-middle transition-all bg-white border shadow-sm hover:scale-105 hover:bg-gradient-to-l duration-400 rounded-3xl hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                      >
                        {{ block.settings.monthly_plan_cta }}
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>

            {% when 'quarterly_plan' %}
              <div {{ block.shopify_attributes }}>
                <!-- Card: Quarterly -->
                <div class="shadow-xl shadow-gray-200 p-5 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700 dark:shadow-gray-900/[.2]">
                  <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                    {{ block.settings.quarterly_plan_title }}
                  </h3>
                  <div class="text-sm text-gray-500">{{ block.settings.quarterly_plan_description }}</div>
                  <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-highlight text-white py-1.5 px-3 dark:bg-gray-900">
                    {{- block.settings.quarterly_plan_savings -}}
                  </span>

                  <div class="mt-5">
                    <span class="text-6xl font-bold text-headlines dark:text-gray-200">
                      {{- block.settings.quarterly_plan_price -}}
                    </span>

                    <span class="ml-2 text-gray-500">{{ block.settings.quarterly_plan_interval }}</span>
                  </div>

                  <div class="mt-1">
                    <span class="text-base font-semibold text-gray-500 dark:text-gray-200">
                      {{- block.settings.quarterly_plan_deposit_amount -}}
                    </span>
                    <span class="text-gray-500 ml-31">{{ block.settings.quarterly_plan_deposit }}</span>
                  </div>

                  <div class="grid py-4 mt-5 sm:grid-cols-1 gap-y-2 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                    <!-- List -->
                    <ul role="list" class="space-y-2 text-sm sm:text-base">
                      <li class="flex space-x-3">
                        <svg
                          class="flex-shrink-0 w-5 h-5 text-highlight"
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"></rect>
                          <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"></path>
                        </svg>
                        <span class="text-gray-800 dark:text-gray-200">
                          {{- block.settings.quarterly_plan_feature_1 -}}
                        </span>
                      </li>

                      <li class="flex space-x-3">
                        <svg
                          class="flex-shrink-0 w-5 h-5 text-highlight"
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"></rect>
                          <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"></path>
                        </svg>
                        <span class="text-gray-800 dark:text-gray-200">
                          {{- block.settings.quarterly_plan_feature_2 }}
                        </span>
                      </li>

                      <li class="flex space-x-3">
                        <svg
                          class="flex-shrink-0 w-5 h-5 text-highlight"
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"></rect>
                          <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"></path>
                        </svg>
                        <span class="text-gray-800 dark:text-gray-200">
                          {{ block.settings.quarterly_plan_feature_3 }}
                        </span>
                      </li>
                    </ul>
                    <!-- End List -->

                    <!-- List -->

                    <!-- End List -->
                  </div>

                  <div class="flex justify-center py-4 mt-5 flerx-col gap-x-4 first:pt-0 last:pb-0">
                    <div class="flex justify-center">
                      <button
                        type="button"
                        class="inline-flex items-center justify-center gap-x-2 rounded-3xl bg-gradient-to-r from-primary via-accent to-orange-600 hover:scale-105 hover:bg-gradient-to-l transition-all duration-400 px-6 py-3.5 text-base font-medium  text-white shadow-lg focus:outline-none"
                      >
                        {{ block.settings.quarterly_plan_cta }}
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>

            {% when 'one_time_purchase' %}
              <div {{ block.shopify_attributes }}>
                <!-- Card:Purchase -->
                <div class="relative z-10 p-4 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700">
                  <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                    {{ block.settings.one_time_purchase_title }}
                  </h3>
                  <div class="text-sm text-gray-500">{{ block.settings.one_time_purchase_description }}</div>

                  <div class="mt-5">
                    <span class="text-6xl font-bold text-gray-800 dark:text-gray-200">
                      {{- block.settings.one_time_purchase_price -}}
                    </span>
                    <span class="ml-3 text-gray-500">{{ block.settings.one_time_purchase_interval }}</span>
                  </div>

                  <div class="grid py-4 mt-5 sm:grid-cols-1 gap-y-2 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                    <!-- List -->
                    <ul role="list" class="space-y-2 text-sm sm:text-base">
                      <li class="flex space-x-3">
                        <span class="text-gray-800 dark:text-gray-200">
                          {{ block.settings.one_time_purchase_explainer }}
                        </span>
                      </li>
                    </ul>
                    <!-- End List -->
                  </div>

                  <div class="justify-center py-4 mt-5 gap-x-4 first:pt-0 last:pb-0">
                    <div class="flex justify-center">
                      <button
                        type="button"
                        class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-medium text-gray-700 align-middle transition-all bg-white border shadow-sm hover:scale-105 hover:bg-gradient-to-l duration-400 rounded-3xl hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                      >
                        {{ block.settings.one_time_purchase_cta }}
                      </button>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <!-- End Grid -->

      <!-- SVG Element -->
      <div class="absolute top-0 right-0 hidden translate-x-16 translate-y-16 md:block">
        <svg
          class="w-16 h-auto text-orange-500"
          width="121"
          height="135"
          viewBox="0 0 121 135"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"></path>
          <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"></path>
          <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"></path>
        </svg>
      </div>
      <!-- End SVG Element -->

      <!-- SVG Element -->
      <div class="absolute bottom-0 left-0 hidden -translate-x-16 translate-y-16 md:block">
        <svg
          class="w-56 h-auto text-cyan-500"
          width="347"
          height="188"
          viewBox="0 0 347 188"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"></path>
        </svg>
      </div>
      <!-- End SVG Element -->
    </div>

    <div class="text-center mt-7">
      <p class="text-xs text-gray-400">{{ section.settings.pricing_hint_terms_taxes }}</p>
    </div>
  </div>
  <!-- End Pricing -->
</div>

{% schema %}
{
  "name": "Pricing",
  "settings": [
    {
      "id": "scrollID",
      "type": "text",
      "label": "Smooth Scroll Link ID",
      "default": "pricing"
    },
    {
      "id": "pricing_title",
      "type": "text",
      "label": "Title",
      "default": "Pricing"
    },
    {
      "id": "pricing_description",
      "type": "text",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet  sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"
    },
    {
      "id": "pricing_comparison_amount",
      "type": "text",
      "label": "Description",
      "default": "£15"
    },
    {
      "id": "pricing_description_append",
      "type": "text",
      "label": "Description",
      "default": "ipsum dolor sit amet, consetetur sadipscing elitr non."
    },
    {
      "id": "pricing_hint_terms_taxes",
      "type": "text",
      "label": "Hint",
      "default": "Prices in GBP. Taxes may apply."
    }
  ],
  "presets": [
    {
      "name": "Pricing",
      "category": "Custom"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "monthly_plan",
      "name": "Monthly Plan",
      "settings": [
        {
          "id": "monthly_plan_title",
          "type": "text",
          "label": "Title",
          "default": "Monthly Plan"
        },
        {
          "id": "monthly_plan_description",
          "type": "text",
          "label": "Description",
          "default": "Rent your Product: Monthly Plan"
        },
        {
          "id": "monthly_plan_price",
          "type": "text",
          "label": "Price",
          "default": "£39"
        },
        {
          "id": "monthly_plan_interval",
          "type": "text",
          "label": "Interval",
          "default": "per month"
        },
        {
          "id": "monthly_plan_deposit",
          "type": "text",
          "label": "Initial Deposit",
          "default": "one time deposit"
        },
        {
          "id": "monthly_plan_deposit_amount",
          "type": "text",
          "label": "Deposit",
          "default": "+£149"
        },
        {
          "id": "monthly_plan_feature_1",
          "type": "text",
          "label": "Feature 1",
          "default": "Custom Sensor"
        },
        {
          "id": "monthly_plan_feature_2",
          "type": "text",
          "label": "Feature 2",
          "default": "Adhesive materials"
        },
        {
          "id": "monthly_plan_feature_3",
          "type": "text",
          "label": "Feature 3",
          "default": "All App features"
        },
        {
          "id": "monthly_plan_cta",
          "type": "text",
          "label": "CTA Button",
          "default": "Buy now"
        }
      ]
    },
    {
      "type": "quarterly_plan",
      "name": "Quarterly Plan",
      "settings": [
        {
          "id": "quarterly_plan_savings",
          "type": "text",
          "label": "Savings",
          "default": "Safe £10 per month"
        },
        {
          "id": "quarterly_plan_title",
          "type": "text",
          "label": "Title",
          "default": "Quarterly Plan"
        },
        {
          "id": "quarterly_plan_description",
          "type": "text",
          "label": "Description",
          "default": "Rent your Product: Quarterly Plan"
        },
        {
          "id": "quarterly_plan_price",
          "type": "text",
          "label": "Price",
          "default": "£39"
        },
        {
          "id": "quarterly_plan_interval",
          "type": "text",
          "label": "Interval",
          "default": "per quarter"
        },
        {
          "id": "quarterly_plan_deposit",
          "type": "text",
          "label": "Initial Deposit",
          "default": "one time deposit"
        },
        {
          "id": "quarterly_plan_deposit_amount",
          "type": "text",
          "label": "Deposit",
          "default": "+£149"
        },
        {
          "id": "quarterly_plan_feature_1",
          "type": "text",
          "label": "Feature 1",
          "default": "Custom Sensor"
        },
        {
          "id": "quarterly_plan_feature_2",
          "type": "text",
          "label": "Feature 2",
          "default": "Adhesive materials"
        },
        {
          "id": "quarterly_plan_feature_3",
          "type": "text",
          "label": "Feature 3",
          "default": "All App features"
        },
        {
          "id": "quarterly_plan_cta",
          "type": "text",
          "label": "CTA Button",
          "default": "Buy now"
        }
      ]
    },
    {
      "type": "one_time_purchase",
      "name": "One Time Purchase",
      "settings": [
        {
          "id": "one_time_purchase_title",
          "type": "text",
          "label": "Title",
          "default": "One Time Purchase"
        },
        {
          "id": "one_time_purchase_description",
          "type": "text",
          "label": "Description",
          "default": "Buy the product"
        },
        {
          "id": "one_time_purchase_price",
          "type": "text",
          "label": "Price",
          "default": "£499"
        },
        {
          "id": "one_time_purchase_interval",
          "type": "text",
          "label": "Interval",
          "default": "one time"
        },
        {
          "id": "one_time_purchase_explainer",
          "type": "text",
          "label": "Explainer",
          "default": "Lorem ipsum dolor sit amet, consetetur iam dolor sit a sadipscing elitr, sed diam non."
        },
        {
          "id": "one_time_purchase_cta",
          "type": "text",
          "label": "CTA Button",
          "default": "Contact Sales"
        }
      ]
    }
  ]
}
{% endschema %}
